header {
  display: flex;
  justify-content: center;
  font-family: 'Jurassic Park', sans-serif;
  font-size: 100px;
  margin-top: 70px;
  color: white;
  text-shadow: 4px 3px 8px red;
}

body {
  height: 100vh;
  background-color: black;
}

.grid-wrapper {
  margin-top: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: -100px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 700px;
  background-image: url('jurassic-park-8k-nexus-7-samsung-galaxy-tab-10-note-0y6ottkl61uoscpf.jpeg');
  background-size: 679px 1086px;
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  border-radius: 25px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 16.6666666667%;
  width: 14.2857142857%;
  border-radius: 100px;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  color: transparent;
  cursor: pointer;
}

.grid div.cell:hover {
  background-color: whitesmoke;
}

.grid div.disc {
  background-image: url('PikPng.com_fangs-png_2953177.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-items: center;
  align-items: center;
  transition:all 1s ease;
}

.grid div.player {
  background-color: red;
}

.grid div.computer {
  background-color: yellow;
}

.player-box {
  display: flex;
  justify-content: space-between;
}

.player-name {
color: white;
}

.computer-name {

}