.main-box {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin: 25px;
}

header {
  display: flex;
  justify-content: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 100px;
  margin-top: 70px;
  color: white;
  margin-bottom: 162px
  /* text-shadow: 4px 3px 8px ; */
}

body {
  height: 100vh;
  background-color:aquamarine;
  background-repeat: no-repeat;
}

.grid-wrapper {
  margin-top: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: -100px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 700px;
  background-image: url('palm-background.jpeg');
  background-size: 701px 721px;
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  border-radius: 25px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 16.6666666667%;
  width: 14.2857142857%;
  border-radius: 100px;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  color: transparent;
  cursor: pointer;
}

.grid div.cell:hover {
  /* background-color: whitesmoke; */
}

.grid div.disc {
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-items: center;
  align-items: center;
  transition:all 1s ease;
}

.grid div.player {
  background-color:orange;
  background-image: url('cartoon-dinosaur.png');
}

.grid div.computer {
  background-color:yellowgreen;
  background-image: url('dinosaur-vacation-tourism.png')
}

.player-box {
  display: flex;
  justify-content: center;
  background-image: url('cartoon-dinosaur.png');
}

.player-name {
color: white;
margin-right: 30px;
}

.player1 {

}